## Day - 9

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\uchia\anaconda3\envs\first_env\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\uchia\anaconda3\envs\first_env\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\uchia\anaconda3\envs\first_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\uchia\anaconda3\envs\first_env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\uchia\anaconda3\envs\first_env\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\uchia\anaconda3\envs\first_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [30]:
import pandas as pd
import numpy as np

In [31]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = range(26)
mydict = dict(zip(mylist, myarr))
print(mydict)

{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [32]:
series = ['d', 'b', 'g', 'a', 'g', 'h', 'f', 'c', 'f', 'h', 'd', 'a', 'f', 'b', 'g', 'a', 'b', 'g', 'h', 'e', 'c', 'a', 'g', 'a', 'e', 'b', 'g', 'b', 'b', 'f']

In [33]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [34]:
ser1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [35]:
ser2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [36]:
pd.DataFrame({"Series - 1":ser1,"Series - 2":ser2})

   Series - 1 Series - 2
0           0          a
1           1          b
2           2          c
3           3          d
4           4          e

In [42]:
database = pd.read_csv('á€˜á€¬á€Šá€¬á€žá€¬á€›á€€á€”á€±á€€á€¼á€¬á€€á€½á€¬á€…á€­/dataset/user_usage.csv')

database

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                      21.97                    4.82     1557.33   22787
1                    1710.08                  136.88     7267.55   22788
2                    1710.08                  136.88     7267.55   22789
3                      94.46                   35.17      519.12   22790
4                      71.59                   79.26     1557.33   22792
..                       ...                     ...         ...     ...
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220

[240 rows x 4 columns]

In [43]:
database.describe()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
count,240.000000,240.000000,240.000000,240.000000
mean,274.559167,98.968292,3628.602042,23285.516667
std,293.745744,111.172685,4486.311513,624.139253
min,0.500000,0.250000,0.000000,22787.000000
25%,74.590000,29.030000,1132.230000,22888.750000
50%,189.705000,70.775000,1797.975000,22987.500000
75%,336.045000,125.627500,4246.617500,23482.500000
max,1816.630000,906.920000,31146.670000,25220.000000

In [44]:
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  240 non-null    float64
 1   outgoing_sms_per_month   240 non-null    float64
 2   monthly_mb               240 non-null    float64
 3   use_id                   240 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 7.6 KB

In [46]:
database.tail(2)

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220