## Day - 2

In [1]:
 name = 'JAAMES'

In [18]:
(name[0],name[int(len(name)/2)],name[-1])

('J', 'M', 'S')

In [19]:
name="James"
print(name[0]+name[int(len(name)/2)]+name[-1])

Jms

In [24]:
name.upper()
name.lower()
name.capitalize()

'James'

## Function

In [72]:
def Search_fun(name):
    first = "first char is: ", name[0].upper()
    mid = "the middle char is: ", name[int(len(name)/2)].upper()
    last = "the last char is: ",name[-1].upper()
    
    return first,mid,last

In [73]:
outPut = Search_fun("jammmmes")

In [74]:
"The out put is {} ".format(outPut)

"The out put is (('first char is: ', 'J'), ('the middle char is: ', 'M'), ('the last char is: ', 'S')) "